# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
nextjs-microblog/node_modules
nextjs-microblog/.pnp
nextjs-microblog/.pnp.*
nextjs-microblog/.yarn/*
nextjs-microblog/!.yarn/patches
nextjs-microblog/!.yarn/plugins
nextjs-microblog/!.yarn/releases
nextjs-microblog/!.yarn/versions

# testing
nextjs-microblog/coverage

# next.js
nextjs-microblog/.next/
nextjs-microblog/out/

# production
nextjs-microblog/build

# misc
.DS_Store
*.pem

# debug
nextjs-microblog/npm-debug.log*
nextjs-microblog/yarn-debug.log*
nextjs-microblog/yarn-error.log*
nextjs-microblog/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
nextjs-microblog/.env*

# vercel
nextjs-microblog/.vercel

# typescript
nextjs-microblog/*.tsbuildinfo
nextjs-microblog/next-env.d.ts
